#contact {
    display: flex;
    flex-direction: column;
    height: 90vh;
    scroll-margin-top: 20px;
    justify-content: space-between;
}

#contactForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 65%;
    margin: 0 18%;
    padding: 1em;
    border-radius: 15px;
}

#messageSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65%;
    margin: 0 18%;
    padding: 1em;
    border-radius: 15px;
    cursor: pointer;
}

.input-label-section {
    position: relative;
    width: 85%;
}

.input-label-section:nth-of-type(3) {
    height: 150px;
}

.input-label-section:nth-of-type(3) textarea:focus {
    height: 100%;
}

.input-label-section:nth-of-type(3) label {
    top: 0;
}

#contactForm input,
.input-label-section:nth-of-type(3) textarea {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 1.5em;
    resize: none;
}

#contactForm label {
    cursor: pointer;
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    font-size: 1.5em;
}

#contactForm input:focus+label,
.input-label-section:nth-of-type(3) textarea:focus+label {
    transform: translateY(-0.8em) scale(0.85);
    filter: brightness(60%);
}

.textarea-filled {
    height: 150px;
}

.textarea-filled+label,
.input-filled+label {
    transform: translateY(-0.8em) scale(0.85);
    filter: brightness(50%);
}

#contactButton {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1.2em;
    border-radius: 10px;
    border-radius: 15px;
    color: white;
}

footer h5 {
    margin-top: 0;
    text-align: center;
    font-size: 1em;
    margin-bottom: 1%;
}

@media (max-width: 768px) {
    #contactForm {
        margin: 0 5%;
    }
}