#main {
    height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#main h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
}

#main h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 5em;
}

#characterTitle {
    font-size: 3.5rem;
}

.typing {
    animation: typing 1s both linear infinite;
}

@keyframes typing {
    0% {
        border-right: 1px solid transparent;
    }

    40% {
        border-right: 1px solid rgb(255, 255, 255);
    }

    100% {
        border-right: 1px solid transparent;
    }
}